<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Recommended so that CleverTap knows when to attempt a network call -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeofenceDemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Test9011 RKR-99K-R46Z token 3cc-232 -->

<!--        <meta-data-->
<!--            android:name="CLEVERTAP_ACCOUNT_ID"-->
<!--            android:value="RKR-99K-R46Z" />-->
<!--        <meta-data-->
<!--            android:name="CLEVERTAP_TOKEN"-->
<!--            android:value="3cc-232" />-->

        <!-- CT_FLUTTER WW6-ZRZ-676Z token 121-600 -->
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="WW6-ZRZ-676Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="121-600" />


<!--        <meta-data-->
<!--            android:name="CLEVERTAP_ACCOUNT_ID"-->
<!--            android:value="675-449-5W7Z" />-->
<!--        <meta-data-->
<!--            android:name="CLEVERTAP_TOKEN"-->
<!--            android:value="c44-5a6" />-->

<!--        <meta-data-->
<!--            android:name="CLEVERTAP_REGION"-->
<!--            android:value="us1"/>-->
    </application>

</manifest>